---
import './LanguagePicker.scss';

const currentPath = Astro.url.pathname;
const currentLang = currentPath.startsWith('/es') ? 'es' : 'en';
const translatedPath = currentLang === 'en' ? `/es${currentPath}` : currentPath.replace('/es', '');
---

<a href={translatedPath} class="language-picker">
  {currentLang === 'en' ? 'ES' : 'EN'}
</a>