---
import MainLayout from '@/layouts/MainLayout.astro';
import LavaLamp from '@/components/LavaLamp/LavaLamp';
import Skills from '@/components/skills';
import Contact from '@/components/contact';
import WaveDivider from '@/components/WaveDivider/WaveDivider.astro';
import About from '@/components/About/About';
import { CONTENT } from '@/data/content';
import '@/components/Hero/Hero.scss';
---

<MainLayout title="Portfolio">
  <section class="hero">
    <LavaLamp client:load />
    <div class="hero__content">
      <h1 class="hero__title">{CONTENT.hero.title}</h1>
      <p class="hero__subtitle">{CONTENT.hero.subtitle}</p>
    </div>
  </section>
  <WaveDivider />

  <div class="relative">
    <div class="sticky top-0">
      <About client:only="react" />
    </div>
    <div class="sticky top-0">
      <Skills client:only="react" />
    </div>
    <div class="sticky top-0">
      <Contact client:load />
    </div>
  </div>
</MainLayout>

<style lang="scss">
  .relative {
    position: relative;
  }

  .sticky {
    position: sticky;
    top: 0;
  }

  .top-0 {
    top: 0;
  }
</style>